@charset "utf-8";

/*  */
*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1,5;
    color: #806342;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;

}
h1,h2{
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1,2;

}

a {
    color: #806342;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


a{
    margin-top: 0;
    margin-bottom: 1em;
}

ul{
    margin: 1em 0;
    padding: 0;
    list-style: none;
}
figure{
    margin:0;
}
img{
    max-width: 100%;
    height: auto;
}
address{
    font-style: none;
}